<!-- Footer -->
{% load static %}
<style>
    
    p {
        font-size: 1.2em;
        color: #fff;
    }

    .btn-link {
        font-weight: 400;
        color: #0d6efd;
        text-decoration: none;
    }


</style>
<div class="container-fluid text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color: #40B5E9;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Get In Touch</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Road 12, Block 10B, Plot 8 Lekki Scheme II, Ajah, Lagos.</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+234 701 229 3598</p>
                <a href="mailto:abnrealtorsgroup@gmail.com"><p class="mb-2"><i class="fa fa-envelope me-3"></i>abnrealtors@gmail.com</p></a>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/achievers.achievers.716?mibextid=2JQ9ochttps://www.facebook.com/achievers.achievers.716?mibextid=2JQ9oc"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/abnrealtorsgroup?igsh=ZmdyOWM0ejdxdzFy"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link text-white-50" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link text-white-50" href="{% url 'contacts:contact' %}">Contact Us</a>
                <a class="btn btn-link text-white-50" href="{% url 'about' %}">Our Services</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Photo Gallery</h5>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/about.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/footergallery1.jpeg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/footergallery2.jpeg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/Ceo.jpeg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/footergallery5.jpeg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="{% static 'img/carousel-1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Our Mission</h5>
                <p>ABN Realtors Group offers efficient real estate services focused on client satisfaction, integrity, and excellence in Nigeria’s property market.</p>
                <!-- <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn position-absolute top-0 end-0 " style="background-color: #0f2e4f; color: white">SignUp</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Abn Realtors.com</a>, All Right Reserved. 
                    
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="{% url 'index' %}">AbnRealtors</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="">Cookies</a>
                        <a href="{% url 'contacts:contact' %}">Help</a>
                        <a href="{% url 'about' %}">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>