{% load static %}

<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center text-center">
            <!-- Replace the existing image with the new logo -->
            <img class="img-fluid" src="{% static '/img/new_logo.jpeg' %}" alt="ABN Logo" style="width: 75px; height: 50px; ">
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="{% url 'index' %}" 
                {% if "/" == request.path %}
                class="nav-item nav-link active"
                {% else %}
                class="nav-item nav-link"
                {% endif %}>
                Home</a>
                <a href="{% url 'about'%}" 
                {% if "about" in request.path %}
                class="nav-item nav-link active"
                {% else %}
                class="nav-item nav-link"
                {% endif %}>About</a>
                <a href="{% url 'listings' %}" 
                {% if "listings" in request.path %}
                class="nav-item nav-link active"
                {% else %}
                class="nav-item nav-link"
                {% endif %}
                >Listings</a>
                <a href="{% url 'contacts:contact' %}" 
                {% if "contact" in request.path %}
                class="nav-item nav-link active"
                {% else %}
                class="nav-item nav-link"
                {% endif %}>Contact</a>
            </div>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a href="{% url 'dashboard' %}"
                        {% if "dashboard" in request.path %}
                            class="nav-item nav-link active"
                        {% else %}
                            class="nav-item nav-link"
                        {% endif %}>
                         Dashboard</a>
                    </li>

                    <li class="nav-item mr-3"></li>  <!--  when clicked it will run the javascript code, look for the id of logout and submit the form which is to be created underneath the anchor tag -->
                    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}  <!--  Cross-Site Request Forgery. It is a type of malicious exploit where unauthorized commands are transmitted from a user that a web application trusts.  -->
                        <input type="hidden">
                    </form>
                    </li>
                {% else %}
                    <li class="nav-item mr-3">
                    <a href="{% url 'register' %}"
                        {% if "register" in request.path %}
                            class="nav-item nav-link active"
                        {% else %}
                            class="nav-item nav-link"
                        {% endif %}>
                        <i class="fas fa-user-plus"></i> Register</a>
                    </li>
                {% endif %}
              </ul>
        </div>
    </nav>
</div>